/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display";
  src: url("assets/fonts/PlayfairDisplay-VariableFont_wght.woff2");  
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("assets/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}